.zhihu-md-tinymde {
  resize: none;
  outline: none;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  border: none;
  line-height: 24px;
}

.zhihu-md-tinymde::-webkit-input-placeholder {
  color: #9eacc7;
}
